body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  width: 400px;
}

.quiz-box {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.top {
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  height: 8px;
  background: #ccc;
  border-radius: 10px;
  margin: 10px 0;
}

#progress-fill {
  height: 100%;
  width: 0%;
  background: #00ffcc;
  border-radius: 10px;
}

.options button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.3s;
}

.options button:hover {
  transform: scale(1.05);
}

.correct {
  background: green !important;
  color: white;
}

.wrong {
  background: red !important;
  color: white;
}

#nextBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #00ffcc;
  cursor: pointer;
  font-weight: bold;
}